name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  lines:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: lines.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: repositories
          plugin_lines: yes
          plugin_lines_sections: base
          plugin_lines_delay: 30
          extras_css: |
            svg { background-color: #0D1117 !important; color: #00FFFF !important; }
            h2, h3 { color: #FF00FF !important; }
            .field svg { fill: #FF00FF !important; }

  languages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_sections: recently-used
          plugin_languages_limit: 3
          plugin_languages_indepth: yes
          plugin_languages_details: lines, percentage
          commits_authoring: Marco Silva, cyberrumor
          plugin_languages_recent_load: 400
          plugin_languages_recent_days: 14
          plugin_languages_analysis_timeout: 30
          plugin_languages_colors: "rust:#D71827, python:#FF00FF, shell:#00FFFF, other:#EDEDED"
          extras_css: |
            svg { background-color: #0D1117 !important; color: #00FFFF !important; }
            h2, h3 { color: #FF00FF !important; }
            .field svg { fill: #FF00FF !important; }

